
# Database
DATABASE_URL=

# JWT
JWT_ALGORITHM =
JWT_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_VERIFICATION_EXPIRY_DAYS=

# User password
PASSWORD_RESET_EXPIRY_MINUTES=

# Frontend
FRONTEND_URL=

